:root {
    --primary-color: #000000;
    --secondary-color: #1d1c1c;
    --tertiary-color: #1694aa;
    --style-color: #3eb8dd;
  
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

   html, body {
     height: 100%;
}


  body {
  background-image: url(../Pictures/Linechart.jpg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  header {
    z-index: 1001;
    position: -webkit-sticky;
    top: 0;
    margin-bottom: 50px;
    padding: 15px 20px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    justify-content: right;
    flex-wrap: wrap;
    flex: auto;
  }
  
  header h1 {
    text-align: right;
    margin: 0;
    font-size: 4vw;
    color: var(--style-color);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.78);
    flex: auto;
  }
  
  header a {
    text-decoration: none;
  }

  
footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
  }
  
footer div {
    line-height: 1.5;
}

  ul.leftnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: auto;
    font-size: 1.5vw;
    flex: auto;
  }
  
  ul.leftnav li a {
    display: block;
    color: var(--style-color);
    padding: 55px 16px;
    text-decoration: none;
  }
   
  ul.leftnav li a.active {
    background-color: var(--primary-color);

  }
  
  ul.leftnav li a:hover:not(.active) {
    background-color: var(--primary-color);
    color: var(--style-color);
  }

  .content {
    margin: 1px auto;
    padding-bottom: 0px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .section-main {
    font-size: 48px;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }

/* Live price widgets */

/*.price {

}*/

.basis {
    background-color: var(--style-color);
    overflow: hidden;
    box-sizing: border-box;
    border: 5px solid var(--style-color);
    border-radius: 4px;
    line-height: 14px;
    font-feature-settings: normal;
    box-shadow: inset 0 -20px 0 0 var(--primary-color);
}

.chart {
    height: 560px;
    padding: 1px;
    margin: 0px;
    width: 100%;

}
.converter {
    width: 400px;
    height: 335px;
    block-size: 335px;
    height:315px; 
}

.pricebox {
    width: 300px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    block-size: 220px;
}

.pricebox iframe {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: auto;
}

.cointracker {
    height:62px;
    padding: 0px; 
    margin: 0px;
    width: 100%;
}

.cointracker iframe {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 36px;
    scroll-behavior: auto;
}